* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    width: 1400px;
    position: relative;
}
.head-h {
    width: 1400px;
    display: flex;
    height: 60px;
    background-color: #ededed;
}
#city {
    width: 130px;
    height: 37px;
    color: #fff;
    margin: 10px 20px 15px 138px;
    padding: 0 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    line-height: 30px;
    font-family: "Hind";
    background: #000 url(./image/zx.png) 103px 15px no-repeat;
    -webkit-appearance: none ;
}
.ph-1 {
    width: 185px;
    color: #565655;
    margin: 19px 0 0 15px;
    font-family: "MyriadPro";
    font-size: 15px;
}
.ph-2 {
    width: 330px;
    margin: 21px 10px;
}
.ph-2-1 {
    color: #565655;
    margin: -25px 22px;
    font-family: "Hind";
    font-size: 14px;
    line-height: 30px;
}
.ph-1::before {
    content: url("./image/phone.png");
    padding-right: 0;
}
.ph-2::before {
    content: url("./image/arrow.png");
    padding-right: 2px;
}
.icons {
    display: flex;
    width: 150px;
    margin: 0 0 0 252px;
    position: relative;
}
.icons1 {
    position: absolute;
    top: 22px;
    left: 0;
}
.icons2 {
    position: absolute;
    top: 21px;
    left: 39px;
}
.icons3 {
    position: absolute;
    top: 20px;
    left: 74px;
}
.icons4 {
    position: absolute;
    top: 22px;
    left: 116px;
}
.icons5 {
    position: absolute;
    top: 21px;
    left: 155px;
}
.block1 {
    height: 141px;
    width: 1400px;
    display: flex;
    background: url(./image/qwe.png) 780px 22px no-repeat;
}
.block1-1 {
    margin: 31px 350px 35px 132px;
}
.block1-2 {
    width: 100px;
    height: 30px;
    margin: 42px 61px;
}
.block1-3 {
    width: 150px;
    height: 30px;
    margin: 42px -15px;
}
.block1-4 {
    width: 150px;
    height: 30px;
    margin: 42px 23px;
}
.subtitle {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    font-family: "Hind";
}
.subtitle1 {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 30px;
    font-family: "MyriadPro";
}
.subtitle1-1 {
    margin: -11px 0;
}
.subtitle1-2 {
    margin: -11px 1px;
}
.subtitle1-3 {
    margin: -11px -1px;
}
nav {
    height: 70px;
    width: 1400px;
    background-color: #000;
    opacity: 0.8;
    padding: 15px;
    position: absolute;
    bottom: -71px;
    right: 0;
}
.nav-bar {
    height: 60px;
    color: #fff;
    text-decoration: none;
    padding: 13px 26px 0 0;
    display: inline-block;
    font-size: 17px;
    line-height: 12px;
    font-family: "MyriadPro";
}
.nav-bar:first-child {
    margin-left: 127px;
}
.nav-bar-1 {
    margin-left: 2px;
}
.nav-bar-2 {
    margin-left: 4px;
}
.nav-bar-3 {
    margin-left: 2px;
}
.search {
    width: 300px;
    height: 40px;
    float: right;
    background:  url(./image/search.png) 280px 9px no-repeat;
    margin-right: 131px;
}
.nav-bar:hover {
    border-bottom: 5px solid #bd2631;
}
.block2 {
    width: 1400px;
    height: 642px;
    display: flex;
    background: #000 url(./image/a.png) 0 0 no-repeat;
    background-position: right 0;
}
.button1 {
    width: 125px;
    height: 570px;
    background: transparent url(./image/button-1.png) 57px 331px no-repeat;
    -webkit-background-size: 23px;
    background-size: 23px;
    border: 1px solid transparent;
    outline: none;
}
.button1-1 {
    width: 125px;
    height: 570px;
    background: transparent url(./image/button-1-1.png) 84px 332px no-repeat;
    -webkit-background-size: 23px;
    background-size: 23px;
    border: 1px solid transparent;
    outline: none;
}
.block2-1 {
    width: 1150px;
    height: 110px;
    margin: 230px 0 ;
}
.block2-1-1 {
    color: #bd2631;
    font-size: 35px;
    margin: 66px 11px 0 8px;
    font-family: "Hind";
    font-size: 32px;
    line-height: 24px;
}
.block2-1-2 {
    color: #fff;
    margin: 23px 10px 0 10px;
    font-family: "Hind";
    font-size: 42px;
    line-height: 24px;
}
.block2-1-3 {
    color: #fff;
    margin: 23px 13px;
    font-family: "MyriadPro";
    font-size: 24px;
    line-height: 18px;
}