.block3 {
    width: 1400px;
    height: 128px;
    background-color: #bd2631;
    display: flex;
}
.block3-1 {
    height: 70px;
    margin: 30px 0 30px 140px;
}
.block3-1-1 {
    color: #efd4d5;
    margin: 5px 0;
    font-family: "MyriadPro";
    font-size: 30px;
    line-height: 30px;
}
.block3-1-2 {
    color: #efd4d5;
    margin: 0;
    font-family: "MyriadPro";
    font-size: 24px;
    line-height: 30px;
}
.button2 {
    width: 138px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
    outline: none;
    margin: 40px 127px 40px 311px;
    font-family: "MyriadPro";
    font-size: 14px;
    line-height: 30px;
}
.block4, .block5, .block6 {
    height: 453px;
    width: 1400px;
    display: flex;
}
.block4-1 {
    width: 719px;
    height: 454px;
    background: #000 url(./image/b.png) 0 0 no-repeat;
    position: relative;
}
.block4-1-1 {
    color: #bd2631;
    position: absolute;
    top: 130px;
    left: 100px;
    font-family: "MyriadPro";
    font-size: 32px;
    line-height: 30px;
    font-weight: normal;
}
.block4-1-2 {
    width: 500px;
    color: #fff;
    position: absolute;
    top: 213px;
    left: 105px;
    font-family: "MyriadPro";
    font-size: 14px;
    line-height: 30px;
}
.block4-2 {
    width: 362px;
    background: #000 url(./image/c.png) 0 0 no-repeat;
}
.block4-3 {
    width: 340px;
    background: #fff url(./image/d.png) center center no-repeat;
}
.block5-1 {
    width: 361px;
    background: #000 url(./image/f.png) 0 0 no-repeat;
}
.block5-2 {
    width: 360px;
    background: #fff url(./image/e.png) center center no-repeat;
}
.block5-3 {
    width: 700px;
    height: 453px;
    background: #000 url(./image/g.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.block6-1 {
    width: 720px;
    background: #000 url(./image/h.png) 0 0 no-repeat;
    position: relative;
}
.block6-2 {
    width: 365px;
    background: #bd2631 url(./image/i.png) 123px 147px no-repeat;
}
.block6-3 {
    width: 338px;
    background: #000 url(./image/j.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.block7 {
    width: 1400px;
    height: 465px;
    display: flex;
}
.block7-1 {
    width: 467px;
    background: url(./image/n.png) 243px 91px no-repeat,
                url(./image/k.png) 223px 50px no-repeat;
}
.block7-1-1 {
    color: #bd2631;
    margin: 231px 0 0 226px;
    font-family: Hind;
    font-size: 36px;
    line-height: 30px;
}
.block7-1-2 {
    width: 372px;
    height: 80px;
    color: #000;
    margin: 13px 0 0 80px;
    font-family: Hind;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.block7-2 {
    width: 466px;
    background: url(./image/l.png) 189px 68px no-repeat;
}
.block7-2-1 {
    color: #bd2631;
    margin: 231px 0 0 202px;
    font-family: Hind;
    font-size: 36px;
    line-height: 30px;
}
.block7-2-2 {
    width: 394px;
    color: #000;
    margin: 16px 0 0 61px;
    font-family: Hind;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.block7-3 {
    width: 467px;
    background: url(./image/o.png)  197px 99px no-repeat,
                url(./image/m.png) 146px 58px no-repeat;
}
.block7-3-1 {
    color: #bd2631;
    margin: 231px 0 0 160px;
    font-family: Hind;
    font-size: 36px;
    line-height: 30px;
}
.block7-3-2 {
    width: 378px;
    color: #000;
    margin: 16px 0 0 30px;
    font-family: Hind;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.block8 {
    width: 1400px;
    height: 193px;
    background: url(./image/p.png)  right 0  no-repeat,
                url(./image/q.png)  327px 54px  no-repeat,
                url(./image/r.png)  0 0  no-repeat;
    position: relative;
}
.block8-1 {
    width: 450px;
    color: #fff;
    position: absolute;
    top: 50px;
    right: 285px;
    font-family: "Hind";
    font-size: 36px;
    line-height: 30px;
    font-weight: normal;
}
.block9 {
    width: 1400px;
    height: 424px;
    }
.block9-1 {
    width: 1400px;
    height: 352px;
    display: flex;
}
.block9-1-1 {
    width: 280px;
    background:  url(./image/aa.png) 0 0 no-repeat;
}
.block9-1-2 {
    width: 280px;
    background:  url(./image/ab.png) 0 0 no-repeat;
}
.block9-1-3 {
    width: 280px;
    background:  url(./image/ac.png) 0 0 no-repeat;
}
.block9-1-4 {
    width: 280px;
    background:  url(./image/ad.png) 0 0 no-repeat;
}
.block9-1-5 {
    width: 280px;
    background:  url(./image/ae.png) 0 0 no-repeat;
}
.block9-2 {
    width: 1400px;
    height: 72px;
    display: flex;
    background-color: #bd2631;
    color: #fff;
}
.block9-2-1 {
    width: 280px;
    text-align: center;
    font-family: "Hind";
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin: 22px 0 0 -4px;
}
.block9-2-2 {
    margin-left: 2px;
}
.block9-2-3 {
    margin-left: 0;
}
.block9-2-4 {
    margin-left: -2px;
}
.block9-2-5 {
    padding: 0 0 0 35px;
}
.block10 {
    width: 1400px;
    height: 201px;
    display: flex;
}
.block10-1 {
    width: 300px;
    background:  url(./image/wq.png) 190px 66px no-repeat;
}
.block10-2 {
    width: 245px;
    background:  url(./image/ww.png) 101px 67px no-repeat;
}
.block10-3 {
    width: 250px;
    background:  url(./image/we.png) 92px 67px no-repeat;
}
.block10-4 {
    width: 270px;
    background:  url(./image/wr.png) 50px 67px no-repeat;
}
.block10-5 {
    width: 200px;
    background:  url(./image/wt.png) 31px 67px no-repeat;
}