* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.head-h {
    width: 1400px;
    display: flex;
    height: 60px;
    background-color: #ededed;
}
#city {
    width: 127px;
    height: 35px;
    background-color: #000;
    color: #fff;
    margin: 10px 25px 15px 140px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}
#city,
.ph-1,
.ph-2,
.subtitle,
h4 {
    font-size: 14px;
    line-height: 30px;
}
#city,
.ph-2,
.subtitle,
h4 {
    font-family: "Hind";
}
.ph-1,
.nav-bar {
    font-family: "Myriad Pro";
}
.ph-1,
.ph-2 {
    margin: 20px;
    color: #565655;
}
.ph-1 {
    width: 185px;
}
.ph-2 {
    width: 330px;
}
.ph-1::before {
    content: url("./image/phone.png");
    padding-right: 5px;
}
.ph-2::before {
    content: url("./image/arrow.png");
    padding-right: 5px;
}
.icons {
    display: flex;
    width: 150px;
    margin: 0 0 0 240px;
    position: relative;
}
.icons1 {
    position: absolute;
    top: 20px;
    left: 0;
}
.icons2 {
    position: absolute;
    top: 20px;
    left: 30px;
}
.icons3 {
    position: absolute;
    top: 20px;
    left: 60px;
}
.icons4 {
    position: absolute;
    top: 20px;
    left: 90px;
}
.icons5 {
    position: absolute;
    top: 20px;
    left: 120px;
}
.block1 {
    height: 140px;
    width: 1400px;
    display: flex;
    background: url(./image/qwe.png) 730px 30px no-repeat;
}
.block1-1 {
    margin: 35px 350px 35px 135px;
}
.block1-2 {
    width: 100px;
    height: 30px;
    margin: 50px -13px;
    text-align: center;
}
.block1-3 {
    width: 150px;
    height: 30px;
    margin: 50px 56px;
    text-align: center;
}
.block1-4 {
    width: 150px;
    height: 30px;
    margin: 50px -40px;
    text-align: center;
}
.subtitle {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
h4 {
    margin: 0;
    color: #7a7a7a;
}
nav {
    height: 70px;
    width: 1400px;
    background-color: #000;
    opacity: 0.8;
    padding: 15px;
}
.nav-bar {
    height: 60px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    line-height: 12px;
}
.nav-bar:first-child {
    margin-left: 140px;
}
.search {
    width: 300px;
    height: 40px;
    float: right;
    background:  url(./image/search.png) 0 0 no-repeat;
    background-position: right center;
    border: 1px solid transparent;
    margin-right: 140px;
}
.nav-bar:hover {
    border-bottom: 5px solid #bd2631;
}
.head-foot {
    width: 1400px;
    height: 640px;
    background: #000 url(./image/a.png) 0 0 no-repeat;
    background-position: right 0;
}
.block2 {
    width: 1400px;
    height: 570px;
    display: flex;
}
.button1 {
    width: 125px;
    height: 570px;
    background: transparent url(./image/button-1.png) center center no-repeat;
    -webkit-background-size: 12pt;
    background-size: 12pt;
    border: 1px solid transparent;
    outline: none;
}
.block2-1 {
    width: 750px;
    height: 110px;
    margin: 230px 0 ;
}
.block2-1-1 {
    color: #bd2631;
    font-size: 24pt;
    margin: 0;
    font-family: "Myriad Pro";
    font-size: 32px;
    line-height: 24px;
}
.block2-1-2 {
    color: #fff;
    font-size: 30px;
    margin: 20px 0;
    font-family: "Myriad Pro";
    font-size: 43px;
    line-height: 24px;
}
.block2-1-3 {
    color: #fff;
    margin: 5px;
    font-family: "Myriad Pro";
    font-size: 24px;
    line-height: 18px;
}