.block11 {
    width: 1400px;
    height: 380px;
    background-color: #242424;
    display: flex;
    padding: 0 160px 0 150px;
}
.block11-1,
.block11-2,
.block11-3,
.block11-4 {
    height: 270px;
    border-right: 1px solid #353535;
    margin: 69px 0 0 41px;
}
.block11-2,
.block11-4 {
    border-right: 1px solid transparent;
}
.block11-1-1 {
    color: #bd2631;
    font-family: "MyriadPro";
    font-size: 18px;
    line-height: 30px;
    margin: -8px 0 0 -18px;
}
.block11-1-2 {
    width: 210px;
    margin: 0 25px;
    color: #fff;
    font-family: Hind;
    font-size: 12px;
    line-height: 16px;
    margin: 10px;
}
.block11-4-1 {
    color: #bd2631;
    font-family: "MyriadPro";
    font-size: 12px;
    line-height: 16px;
    margin: 0 10px;
}
.block12 {
    width: 1400px;
    height: 85px;
    background-color: #131313;

}
.block12-1,
.block12-2 {
    color: #fff;
    font-family: "Hind";
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    display: inline-block;
}
.block12-1 {
    margin: 32px 0 0 172px;
}
.block12-2 {
    float: right;
    margin: 32px 157px 0 0;
}
@font-face {
    font-family: Hind;
    src: url(./fonts/Hind/Hind-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: Hind;
    src: url(./fonts/Hind/Hind-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: MyriadPro;
    src: url(./fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf);
    font-weight: normal;
    font-style: normal;
}
.pagewrapper {
    width: 100%;
    height: 100vh;
}
.wrapper {
    overflow-y: hidden;
}